{% extends 'base.html' %}
{% load static %}

{% block title %}TexПро: Авторизация{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 form z-depth-1 no-padding">
                    {% if email_confirm %}
                        <div class="col s12 no-padding email-confirm">
                            <p class="center-align">Почта успешно подтверждена</p>
                        </div>
                    {% endif %}
                    {% if password_restored %}
                        <div class="col s12 no-padding email-confirm">
                            <p class="center-align">Пароль успешно изменен</p>
                        </div>
                    {% endif %}
                    <h3 class="title center-align dark-text-color">Авторизация</h3>
                    <h6 class="error center-align">{{ error }}</h6>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="email" type="email" class="validate" name="email"
                                   value="{{ form.email.value|default_if_none:"" }}">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="password" type="password" name="password"
                                   value="{{ form.password.value|default_if_none:"" }}">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="row link">
                        <div class="col s10 offset-s1">
                            <a href="/account/restore/">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="row link">
                        <div class="col s10 offset-s1">
                            <a href="/account/registration/">Регистрация</a>
                        </div>
                    </div>
                    <div class="col s8 offset-s2 m6 offset-m3 auth-btn">
                        <button class="btn full-width waves-effect waves-light main-bg-color" type="submit"
                                name="action">Вход
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}