{% extends 'base.html' %}
{% load static %}

{% block title %}ТехПро{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 index-content transparent-bg">
                <div class="col s12 l10 offset-l1 transparent-bg">
                    <h3 class="center-align title main-text-color">Система управления заказами </h3>
                    <h3 class="center-align title main-text-color">ООО "ТехПро Сервис"</h3>
                </div>
                <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 transparent-bg">
                    <a href="/account/registration/" class="btn-large waves-effect main-bg-color full-width">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}