.form{
  margin-top: 5vh;
  .email-confirm{
    background-color: #7ee7af;
  }
  .title{
    margin-bottom: 30px;
  }
  .row{
    margin-bottom: 0;
  }
  .row.link{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row.is-worker{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .checkbox-row{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .checkbox-work-types{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .counter-input{
    input[type=number].browser-default{
      width: 100%;
      font-size: 18px;
      margin-top: 6px;
      padding: 2px 5px;
      -moz-appearance:textfield;
      &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
    .material-icons.small{
      margin-top: 8px;
      font-size: 1.5rem;
    }
    .error{
      color: $red_color;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .input-field-inline{
    margin-top: 20px;
  }
  .button{
    margin-top: 15px;
    height: 65px;
    button{
      position: absolute;
      left:50%;
      transform: translate(-50%, 0);
    }
  }
  .input-field{
    margin-top: 15px;
    input{
      margin-bottom: 2px;
    }
    &#worker-select{
      margin-top: 0;
    }
  }
  .auth-btn{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  span.error{
    color: $red_color;
  }
}

@media only screen and (max-width: $m_px){
  .signup{
    margin-top: 10vh;

    .title{
      margin-bottom: 15px;
    }
    .input-field{
      margin-top: 10px;
      input{
        height: 36px;
      }
    }
  }
}