{% extends 'base.html' %}
{% load static %}
{% load order_extra %}

{% block title %}ТехПро: Разделение заявок{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s12 l10 offset-l1 xl8 offset-xl2 order_list z-depth-1">
                    <h4 class="center-align" style="font-size: 2rem">Результаты разделения</h4>
                    <div class="col s12">
                        {{ list }}
                    </div>
                    {% for group, orders, length in groups %}
                        <div class="col s10 offset-s1" style="border: solid 1px #ececec">
                            <h5 class="center-align">"{{ group.name }}"</h5>
                            <table>
                                <thead>
                                <tr>
                                    <th>Адрес</th>
                                    <th>Клиент</th>
                                    <th>Телефон</th>
                                    <th>Время</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.client.address }}</td>
                                            <td>{{ order.client.last_name }} {{ order.client.first_name }} {{ order.client.surname }}</td>
                                            <td>{{ order.client.phone }}</td>
                                            <td>{{ order.appointed_time|time:"H:i" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <p>Время затраченное на передвижение: <b>{{ length }} мин.</b></p>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}