{% extends 'base.html' %}
{% load static %}
{% load order_extra %}

{% block title %}ТехПро: Разделение заявок{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 order_list z-depth-1">
                    <h4 class="center-align" style="font-size: 2rem">Результаты разделения</h4>
                    {% for group in groups %}
                        <div class="col s10 offset-s1" style="border: solid 1px #ececec">
                            <h5 class="center-align">"{{ group.name }}"</h5>
                            <table>
                                <thead>
                                <tr>
                                    <th>Адрес</th>
                                    <th>Клиент</th>
                                    <th>Номер телефона</th>
                                    <th>Время</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for i in i|rjust:5 %}
                                        <tr>
                                            <td>Адрес{{ forloop.counter }}</td>
                                            <td>Клиент{{ forloop.counter }}</td>
                                            <td>Номер телефона{{ forloop.counter }}</td>
                                            <td>Время{{ forloop.counter }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}