{% extends 'base.html' %}
{% load static %}

{% block title %}ТехПро: Регистрация{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 form z-depth-1">
                    <h4 class="title center-align dark-text-color">{% if form_type == 'add' %}Добавление
                        заявки{% else %}Редактирование заявки{% endif %}</h4>
                    <input name="id" type="hidden" value="{{ form_order.id.value|default_if_none:"" }}">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="cable_number" name="cable_number" type="number"
                                   value="{{ form_order.cable_number.value|default_if_none:"" }}">
                            <label for="cable_number">Номер кабеля</label>
                            {% if form_order.cable_number.errors %}
                                <span class="helper-text error">{{ form_order.cable_number.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5 offset-s1">
                            <input id="appointed_date" type="text" name="appointed_date" class="datepicker"
                                   value="{{ form_order.appointed_date.value.day|stringformat:"02d."|default_if_none:"" }}{{ form_order.appointed_date.value.month|stringformat:"02d."|default_if_none:"" }}{{ form_order.appointed_date.value.year|default_if_none:"" }}">
                            <label for="appointed_date">Дата</label>
                            {% if form_order.appointed_date.errors %}
                                <span class="helper-text error">{{ form_order.appointed_date.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Формат 24.12.2019</span>
                            {% endif %}
                        </div>
                        <div class="input-field col s5">
                            <input id="appointed_time" type="text" name="appointed_time" class="timepicker"
                                   value="{{ form_order.appointed_time.value|default_if_none:"" }}">
                            <label for="appointed_time">Время</label>
                            {% if form_order.appointed_time.errors %}
                                <span class="helper-text error">{{ form_order.appointed_time.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="remark" name="remark" type="text"
                                   value="{{ form_order.remark.value|default_if_none:"" }}">
                            <label for="remark">Примечание</label>
                            {% if form_order.remark.errors %}
                                <span class="helper-text error">{{ form_order.remark.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <select class="browser-default" name="order_type">
                                {% for order_type in order_types %}
                                    <option value="{{ order_type.id }}"
                                            {% if order_type.id == form_order.order_type.value %}selected{% endif %}>{{ order_type.name }}</option>
                                {% endfor %}
                            </select>
                            {% if form_order.order_type.errors %}
                                <span class="helper-text error">{{ form_order.order_type.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text"></span>
                            {% endif %}
                        </div>
                    </div>
                    <h5 class="center-align">Данные клиента</h5>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="last_name" name="last_name" type="text"
                                   value="{{ form_client.last_name.value|default_if_none:"" }}">
                            <label for="last_name">Фамилия</label>
                            {% if form_client.last_name.errors %}
                                <span class="helper-text error">{{ form_client.first_name.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Не менее 2 символов</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="first_name" name="first_name" type="text"
                                   value="{{ form_client.first_name.value|default_if_none:"" }}">
                            <label for="first_name">Имя</label>
                            {% if form_client.first_name.errors %}
                                <span class="helper-text error">{{ form_client.first_name.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Не менее 2 символов</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="surname" name="surname" type="text"
                                   value="{{ form_client.surname.value|default_if_none:"" }}">
                            <label for="surname">Отчество</label>
                            {% if form_client.surname.errors %}
                                <span class="helper-text error">{{ form_client.surname.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Не менее 2 символов</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="email" name="email" type="email" class="validate"
                                   value="{{ form_client.email.value|default_if_none:"" }}">
                            <label for="email">Email</label>
                            {% if form_client.email.errors %}
                                <span class="helper-text error">{{ form_client.email.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Необязательное поле</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="phone" name="phone" type="tel" class="validate"
                                   value="{{ form_client.phone.value|default_if_none:"" }}">
                            <label for="phone">Телефон</label>
                            {% if form_client.phone.errors %}
                                <span class="helper-text error">{{ form_client.phone.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">В формате 89247562123</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="address" name="address" type="text"
                                   value="{{ form_client.address.value|default_if_none:"" }}">
                            <label for="phone">Адрес</label>
                            {% if form_client.address.errors %}
                                <span class="helper-text error">{{ form_client.address.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Допускаются запятые и точки</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn waves-effect waves-light main-bg-color" type="submit" name="action">
                            {% if form_type == 'add' %}Создать заявку{% else %}Сохранить данные{% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/add_order.js' %}"></script>
{% endblock %}